

<app-home-navbar></app-home-navbar>
    
<!--Header End-->
<!--Home Banner Start-->
 <app-main-section></app-main-section>


<!--Home Banner End-->
<!--Main Start-->
<main id="wt-main" class="">
  <!--Categories Start-->
  <section class="wt-haslayout wt-main-section bg-white">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
          <div class="wt-sectionhead wt-textcenter">
            <div class="wt-sectiontitle">
              <h2>Explore Categories</h2>
              <span>Professional by categories</span>
            </div>
          </div>
        </div>
        <div class="wt-categoryexpl row gy-3">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-01.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Mobiles</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-08.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Digital Marketing</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-02.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Writing &amp; Translation</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-03.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Video &amp; Animation</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-04.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Music &amp; Audio</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-05.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Programming &amp; Tech</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-06.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Business</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 ">
            <div class="wt-categorycontent">
              <figure><img src="images/categories/img-07.png" alt="image description"></figure>
              <div class="wt-cattitle">
                <h3><a href="javascrip:void(0);">Fun &amp; Lifestyle</a></h3>
              </div>
              <div class="wt-categoryslidup">
                <p>Consectetur adipisicing elitaed eiusmod tempor incididuatna labore et dolore magna.</p>
                <a href="javascript:void(0);">Explore <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="wt-btnarea">
              <a href="javascript:void(0)" class="wt-btn">View All</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Categories End-->
  <!--Join Company Info Start-->
  <section class="wt-haslayout wt-main-section wt-paddingnull wt-companyinfohold">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="wt-companydetails">
            <div class="wt-companycontent">
              <div class="wt-companyinfotitle">
                <h2>Start As Company</h2>
              </div>
              <div class="wt-description">
                <p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina ilukita ylokem lokateise ination voluptate velit esse cillum.</p>
              </div>
              <div class="wt-btnarea">
                <a href="javascript:void(0);" class="wt-btn">Join Now</a>
              </div>
            </div>
            <div class="wt-companycontent">
              <div class="wt-companyinfotitle">
                <h2>Start As Freelancer</h2>
              </div>
              <div class="wt-description">
                <p>Consectetur adipisicing elit sed dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina ilukita ylokem lokateise ination voluptate velit esse cillum.</p>
              </div>
              <div class="wt-btnarea">
                <a href="javascript:void(0);" class="wt-btn">Join Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Join Company Info End-->
  <!--Limitless Experience Start-->
  <section class="wt-haslayout wt-main-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
          <figure class="wt-mobileimg">
            <img src="images/mobile-img.png" alt="img description">
          </figure>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
          <div class="wt-experienceholder">
            <div class="wt-sectionhead">
              <div class="wt-sectiontitle">
                <h2>Limitless Experience</h2>
                <span>Roam Around With Your Business</span>
              </div>
              <div class="wt-description">
                <p>Dotem eiusmod tempor incune utnaem labore etdolore maigna aliqua enim poskina ilukita ylokem lokateise ination voluptate velit esse cillum dolore eu fugiat nulla pariatur lokaim urianewce.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumed perspiciatis.</p>
              </div>
              <ul class="wt-appicon">
                <li>
                  <a href="javascript:void(0)">
                    <figure><img src="images/app-icon/img-01.png" alt="img description"></figure>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <figure><img src="images/app-icon/img-02.png" alt="img description"></figure>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<app-sec-footer></app-sec-footer>